.App {
text-align: center;
}

.AppLogo {
  height: 30vmin;
  pointer-events: none;
  filter: drop-shadow(1.5px 2.5px #2ca2f6);
}

.AppHeader {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.AppTittle{
  margin-top: 45px;
  margin-bottom: 0px;
}

.AppSubTittle{
  font-style: italic;
}

.GoAppBtn{
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  background-color: var(--primary-color);
  color: #39393A;
  width: 230px;
  font-size: 24px;
  border: 0px;
  transition: all .2s ease-in-out;
}

.GoAppBtn:hover{
transform: scale(1.1);
animation: pulse 2s infinite;
}

@keyframes pulse {
0% {
  box-shadow: 0 0 0 0px #5b6f80;
}
100% {
  box-shadow: 0 0 0 24px rgba(15, 12, 12, 0);
}
}