@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');

:root{
  --bg-color: #39393A;
  --primary-color: #a1d2f6;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppTittle{
  margin-top: 45px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
}

.AppSubTittle{
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

.goBtn{
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    background-color: var(--primary-color);
    color: #39393A;
    width: 230px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    border: 0px;
    transition: all .2s ease-in-out;
}

.goBtn:hover{
  transform: scale(1.1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px #5b6f80;
  }
  100% {
    box-shadow: 0 0 0 25px rgba(15, 12, 12, 0);
  }
}